<div class="card">
  <div class="card-header text-center">
    <h3>Users</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item list-grou-item-action"
      *ngFor="let user of page.content"
    >
      {{ user.username }}
    </li>
  </ul>
  <button
    *ngIf="hasPreviousPage"
    (click)="loadData(page.page - 1)"
    data-testid="previous-button"
  >
    &lt; previous
  </button>
  <button *ngIf="hasNextPage" (click)="loadData(page.page + 1)"
  data-testid="next-button">
    next &gt;
  </button>
</div>
