<div 
  class="col-lg-6 offset-lg-3 col-md-8 offset-md-2"
  data-testid="login-page"
  >
  <div class="card" data-testid="form-sign-up">
    <div class="card-header text-center">
      <h1>Login</h1>
    </div>
    <form 
      class="card-body"
      (ngSubmit)="onClickLogin()"
      >
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input id="email"
        class="form-control"
        [(ngModel)]="email"
        name="email"
        required
        email
        #emailInput="ngModel"
        [ngClass]="isInvalid(emailInput.control) ? 'is-invalid' : '' "
        (ngModelChange)="onChange()"
        />
        <div 
        data-testid="email-validation"
        class="invalid-feedback"
        *ngIf="isInvalid(emailInput.control)">
        <div *ngIf="emailInput.errors?.['required']">
          E-mail is required
        </div>
        <div *ngIf="emailInput.errors?.['email']">
          Invalid e-mail address
        </div>

        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" 
        class="form-control" 
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        #passwordInput="ngModel"
        [ngClass]="isInvalid(passwordInput.control) ? 'is-invalid' : '' "
        (ngModelChange)="onChange()"
        />
        <div 
        data-testid="password-validation"
        class="invalid-feedback"
        *ngIf="isInvalid(passwordInput.control)">
        <div *ngIf="passwordInput.errors?.['required']">
          Password is required
        </div>
        </div>
      </div>
      <app-alert *ngIf="error" type="danger">{{error}}</app-alert>
      <div class="text-center">
        <app-button
          [disabled]="isDisabled()"
          [apiProgress]="apiProgress"
        >
          Login
        </app-button>
      </div>
    </form>
  </div>
</div>

