<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
  <div class="card">
    <div class="card-header text-center">
      <h1>Sign Up</h1>
    </div>
    <form class="card-body" (submit)="onClickSignUp(); $event.preventDefault()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input id="username" class="form-control" (input)="onChangeUsername($event)"/>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input id="email" class="form-control" (input)="onChangeEmail($event)"/>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" class="form-control" type="password" (input)="onChangePassword($event)"/>
      </div>
      <div class="mb-3">
        <label for="passwordRepeat" class="form-label">Password Repeat</label>
        <input id="passwordRepeat" class="form-control" type="password" (input)="onChangePasswordRepeat($event)"/>
      </div>
      <div class="text-center">
        <button class="btn btn-primary"
          [disabled]="isDisabled() || apiProgress"
          >
          <span 
            *ngIf="apiProgress"
            class="spinner-border spinner-border-sm"
            role="status"></span>
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>